.banner {
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  height: 100vh;

  background-color: #ffffff;
  background-image: url(background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow: hidden;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);

  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  border: 1px solid #d3d6db;
  border-radius: 7px;
  box-shadow: 1px -1px 38px 5px rgba(128, 113, 113, 0.71);
}
.loginImg {
  position: absolute;
  top: 60px;
  left: -200px;
  width: 200px;
}
